<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link active" href="/admin">Management<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="mainContent">
  <div class="container adminCard">
    <h2 class="center space">Management</h2>
    <div class="row">
      <div class="col-md-8 eventLayout">
          {{!-- Add Employee --}}
          <div id="addEmployeeContainer">
            <form  action="POST">
            <div class="form-group">
              <h2><label for="employeeName">Employee Name</label></h2>
              <input type="text" id="employeeName" class="form-control" aria-describedby="employeeName" placeholder="Enter Employee Name">
            </div>
            <div class="form-group">
              <h2><label for="employeeWage">Employee Wage</label></h2>
              <input type="text" class="form-control" id="employeeWage" aria-describedby="employeeWage" placeholder="Dollar amount per hour">
            </div>
            <div class="form-group">
              <h2><label for="employeeImage">Employee Image</label></h2>
              <input type="text" class="form-control" id="employeeImage" aria-describedby="employeeImage" placeholder="Enter url path to image">
            </div>
            <div class="text-center">
              <button id="addEmployee" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        {{!-- All Employees --}}
        <ul id="employee-list" class="list-group">
            {{#each employees}}
            <li data-id="{{this.id}}" class="list-group-item">
              <ul class="employeeWrapper">
                <li class="employeeWrapper">
                  {{!-- <div > --}}
                    <img src='{{this.image}}'  width="100" height="100" alt="Employee" data-toggle="popover" data-trigger="hover" title={{this.name}} data-content='Wage: ${{this.wage}}/hr'>
                  {{!-- </div> --}}
                </li>
                <li class="employeeWrapper float-right">
                  {{!-- <div > --}}
                    <ul class="employeeActions">
                      <li class="employeeActions">
                        <button class="btn btn-warning employeeActionButton edit">
                          <a href="employees/{{this.id}}" >Edit Employee</a>
                        </button>
                      </li>
                      <li class="employeeActions">
                        <button class="btn btn-danger employeeActionButton delete">Delete Employee</button>
                      </li>
                    </ul>
                  {{!-- </div> --}}
                </li>
              </ul>
              {{!-- <a href="employees/{{this.id}}" ></a> --}}
            </li>
            {{/each}}
        </ul>
        {{!-- Search Events --}}
        <ul id="event-list" class="list-group">
          {{#each events}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="events/{{this.id}}" class="reservation" data-toggle="popover" data-trigger="hover" title={{this.roomName}} data-content='Date: {{this.eventDate}}, Guests: {{this.partySize}}'>{{this.customerName}}</a>
              <button class="btn btn-danger float-right delete">Delete Event</button>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-4">
        <div class="eventActions">
          <h4 class="center">Actions</h4>
          <ul>
            <li>
              <a class="expand actionItems" type="button">Employee Management</a>
              <ul>
                <li>
                  <button id="addEmployeeButton" class="actionItems" type="button">
                    Add Employee
                  </button>
                </li>
                <li>
                  <button id="showEmployeesButton" class="actionItems" type="button"> 
                    All Employees
                  </button>
                </li>
              </ul>
            </li>
            <li>
              <a class="expand actionItems" type="button">Event Management</a>
              <ul>
                <li>
                  <button id="showEventsButton" class="actionItems" type="button"> 
                    All Events
                  </button>
                </li>
                <li>
                  <a class="expand actionItems" type="button">Search Events</a>
                  <ul>
                    <li>
                      <div class="text-center space">
                        <h5>Date</h5>
                        <p><input type="text" id="datepicker"></p>
                        <button id="searchEvent">Search</button>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        </div>
        
      </div>
    </div>
  </div>
