<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="120" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/grande">Grande Room</a>
            <a class="nav-item nav-link" href="/venti">Venti Room</a>
            <a class="nav-item nav-link" href="/luxor">Luxor Room</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link active" href="/admin">Management<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="mainContent">
  <div class="container">
    <h2 class="center space">Management</h2>
    <div class="row">
      <div class="col-md-8 eventLayout"></div>
      <div class="col-md-4">
        <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title" id={{event.id}}>{{event.roomName}}</h3>
          <p>
            <strong>Date</strong>: {{event.eventDate}}</p>
          <p>
            <strong>Customer Name</strong>: {{event.customerName}}</p>
          <p>
            <strong>Customer Email</strong>: {{event.customerEmail}}</p>
          <p>
            <strong>Event Size</strong>: {{event.partySize}}</p>
        </div>
      </div>
       <div class="eventActions">
          <button id="addTable">Add Table</button>
          <button id="saveEvent">Save Event</button>
        </div>
    </div>
  </div>
</div>